.nav-aamer {
    height: 90px;
    width: 100%;
    background-color: #251e54;
}

tr>th {
    text-align: center !important;
}

tr>td {
    text-align: center;
}

@font-face {
    font-family: "Bahij";
    src: url("Bahij_TheSansArabic-Bold.ttf");
}

.title-f1 {
    margin-top: 17px;
    font-size: 20px;
    padding-right: 30px;
}

.person {
    width: 40px;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -2px;
}

.sptop {
    position: relative;
    top: 6px;
}

.text-right {
    text-align: right !important;
}

.table-responsive {
    min-height: .01%;
    overflow-x: inherit;
}

#myChart {
    height: auto;
}

.logo-f {
    width: 100%;
    margin-top: 10px;
    padding: 1px 0px 6px 0;
}

body {
    font-family: "Bahij";
}

.mobile {
    color: white;
    font-size: 23px !important;
}

.p-d-0 {
    padding: 0
}

li {
    list-style-type: none;
}

.nav-aamer-p2 {
    width: 100%;
    height: 40px;
    background-color: #393777;
    text-align: left;
}

.nav-aamer-li {
    display: flex;
    direction: rtl;
    padding: 5px 20px 5px 20px;
    color: white;
    font-size: 16px;
}

.nav-aamer-li>li>a {
    padding: 10px 10px;
    color: white;
}

.nav-aamer-li>li>a:hover {
    padding: 7px 10px;
    color: white;
    background-color: #302e65;
    text-decoration: none;
}

.caret {
    display: inline-block;
    width: 0;
    margin-right: 7px;
}

.section-a {
    border-radius: 20px;
    width: 100%;
}

.section-f1 {
    background-color: #393777;
    height: 55px;
    margin: 25px 20px 0 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    direction: rtl;
    padding: 0px 40px 0px 15px;
    font-size: 17px;
}

.section-f1s {
    background-color: #393777;
    height: 55px;
    margin: 25px 20px 0 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    direction: rtl;
    padding: 0px 40px 0px 15px;
    font-size: 17px;
}

.section-f2 {
    direction: rtl;
    padding: 60px 55px 0 0;
}

.section-f3s {
    position: relative;
    padding: 10px 0 55px 0;
}

.user {
    font-size: 70px;
    color: #302e65;
}

.user-f1 {
    display: inline;
    position: absolute;
    top: 25px;
    font-size: 20px;
    /* padding-right: 18px; */
}

.user-f2 {
    display: inline;
    font-size: 25px;
    /* padding-left: 21px; */
    /* padding-right: 17px; */
    position: relative;
    bottom: 15px;
}

.user-f2 span {
    font-size: 20px;
    color: #302e65;
    padding: 5px;
}

.user-f1s {
    display: inline;
    position: absolute;
    top: 20px;
    font-size: 20px;
    padding-right: 4px;
    /* padding-right: 18px; */
}

.user-f2s {
    display: inline;
    font-size: 25px;
    /* padding-left: 21px; */
    /* padding-right: 17px; */
    position: relative;
    bottom: 0px;
    padding-right: 9px;
}

.border-h {
    height: 575px;
    width: 97.9%;
    border: 2px solid #ffff;
    margin: 0px 0 20px 20px;
    border-top: none;
    box-shadow: 2px 4px 5px 2px #ccc;
}

.border {
    height: 575px;
    width: 97.9%;
    border: 2px solid #ffff;
    margin: 0px 20px 20px 20px;
    border-top: none;
    box-shadow: 2px 4px 5px 2px #ccc;
}

.aamer-input {
    margin: 15px;
    height: 40px;
    border: none;
    border: 1px solid #383838;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
}

.section-2ts {
    display: inline-block;
    padding: 10px;
}

.section-2t {
    display: inline-block;
    padding: 10px;
}

.fa-list-ul {
    padding-left: 5px;
}

.active,
.section-2t:hover {
    background-color: #302e65;
    text-decoration: none;
    cursor: pointer;
}

.circal {
    width: 38px;
    height: 30px;
    background: #fff;
    border-radius: 26px;
    /* padding-top: 12px; */
    margin-top: 8px;
    padding-top: 4px;
    color: #312e6b;
    padding-right: 11px;
    font-weight: bold;
}

.left {
    direction: rtl
}

tr>th {
    text-align: right
}

.waleed tr>th {
    background-color: #383838;
    color: white
}

.footer-aamer {
    height: 40px;
    background: #efefef;
    float: left;
    width: 100%;
}

.fonts-infooter {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    margin: 0;
}

.bold {
    font-weight: bold
}

.title-inthumbnail {
    padding: 10px;
    font-size: 18px;
}

.thumbnail-header {
    background-color: #251e54;
    height: 40px;
    /* border-radius: 8px; */
    text-align: right;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.rtl {
    direction: rtl
}

.f1 {
    color: #251e54;
    font-size: 16px;
    padding: 0 10px 5px 10px;
    margin: 0
}

.f1 i {
    padding-left: 8px;
}

.thumbnail {
    padding: 11px
}

.block {
    display: block!important;
}

.none {
    display: none !important;
}

.fix {
    height: 575px;
}

.circal:hover {
    color: white;
}

#Allthumbnail {
    padding-top: 25px;
}

.seciton-tabel {
    height: 800px;
}

.form-control {
    height: 50px;
}

.tabel-input {
    padding-top: 25px;
}

.label-tabel {
    position: absolute;
    top: -11px;
    right: 36px;
    background: #fff;
    text-align: right;
}

.tabel-button {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    height: 40px;
    border-radius: 7px;
    background-color: #e4e4e4;
    border: none;
    font-size: 17px;
    margin: 0 5px 0 5px;
}

.colorbtn {
    background: #251e54;
    color: white;
    height: 50px;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    margin: 0 5px 0 5px;
    margin-top: 0px;
}

#trfoo tr th {
    background: #c6c6c6;
    font-weight: 100;
}

.end {
    background: #c6c6c6;
    font-weight: bold;
    color: black
}

.tabel {
    padding-top: 25px;
}

.amaerf2 {
    font-size: 29px;
    color: white;
    padding: 25px 0 5px 0;
    text-align: right;
    font-family: "Bahij";
}

.left-sied {
    font-size: 17px;
    color: white;
    padding: 30px 0 5px 0;
    /* text-align: right; */
    /* direction: rtl; */
    font-family: "Bahij";
}

.left-sied a {
    font-size: 18px;
    color: white;
    font-family: "Bahij";
}

.bar_chart {
    font-size: 35px !important;
    /* padding-top: 10px; */
    position: relative !important;
    top: 11px!important;
    display: inline-block!important;
}

.receipt {
    font-size: 80px !important;
    padding-left: 4px;
    padding-right: 11px!important;
    color: #2e9658!important;
}

.wallet {
    font-size: 80px !important;
    padding-left: 2px;
    padding-right: 12px!important;
    color: #2e5bff!important;
}

.color2 {
    color: #2e9658!important;
}

.color3 {
    color: #2e5bff!important;
}

.domain {
    position: relative;
    top: 6px;
    font-size: 28px !important;
}

.view_module {
    vertical-align: middle;
    font-size: 28px;
}

.public {
    vertical-align: middle;
    font-size: 28px;
}

.list {
    vertical-align: middle;
    font-size: 28px;
}

.map-amaer-s1 {
    height: 450px;
}

.locliton {
    text-align: right;
    border-bottom: 1px solid #b5b3bf;
    font-size: 18px;
    padding-top: 15px;
    cursor: pointer !important;
}

.C-3 {
    font-size: 14px;
    color: #83888d;
}

.location_on {
    font-size: 40px !important;
}

.loc-s {
    font-size: 16px;
}

.footer-log {
    vertical-align: top;
    margin-top: 2px;
    margin-right: 5px;
}

.p-l-30r {
    padding-left: 30px;
}

.fixaa {
    left: -63px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.colorbtn:hover {
    background: #251e54;
    color: white;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1024px) and (min-width:992px) {
    .p-l-30r {
        padding-left: 10px;
    }
    .logo-f {
        width: 104%;
        margin-top: 19px;
        padding: 1px 0px 6px 0;
    }
    .amaerf2 {
        font-size: 21px;
        color: white;
        padding: 25px 0 5px 0;
        text-align: right;
        font-family: "Bahij";
    }
    .user {
        font-size: 48px;
        color: #302e65;
    }
    .user-f1s {
        display: inline;
        position: absolute;
        top: 8px;
        font-size: 17px;
        padding-right: 4px;
        /* padding-right: 18px; */
    }
    .user-f2s {
        display: inline;
        font-size: 20px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 0px;
        padding-right: 9px;
    }
    .section-f3s {
        position: relative;
        padding: 10px 0 20px 0;
    }
    .user-f2 {
        display: inline;
        font-size: 20px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 15px;
    }
    .user-f1 {
        display: inline;
        position: absolute;
        top: 11px;
        font-size: 17px;
        /* padding-right: 18px; */
    }
    .receipt {
        font-size: 60px !important;
        /* padding-left: 10px; */
        padding-right: 0px!important;
        color: #2e9658!important;
    }
    .wallet {
        font-size: 57px !important;
        /* padding-left: 10px; */
        padding-right: 0!important;
        color: #2e5bff!important;
    }
    .border {
        height: 368px;
        width: 95.9%;
        border: 2px solid #ffff;
        margin: 0px 20px 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .border-h {
        height: 564px;
        width: 95.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .thumbnail {
        padding: 5px;
    }
    .f1 {
        color: #251e54;
        font-size: 12px;
        padding: 0 10px 5px 10px;
        margin: 0;
    }
    .loclitons {
        padding: 0
    }
    .loc-s {
        font-size: 12px;
    }
    .left-sied a {
        font-size: 14px;
        color: white;
        font-family: "Bahij";
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .m-r-0 {
        margin: 0
    }
    .p-l-30r {
        padding-left: 10px;
    }
    .logo-f {
        width: 78%;
        margin-top: 19px;
        padding: 1px 0px 6px 0;
    }
    .amaerf2 {
        font-size: 21px;
        color: white;
        padding: 25px 0 5px 0;
        text-align: right;
        font-family: "Bahij";
    }
    .user {
        font-size: 48px;
        color: #302e65;
    }
    .user-f1s {
        display: inline;
        position: absolute;
        top: 8px;
        font-size: 17px;
        padding-right: 4px;
        /* padding-right: 18px; */
    }
    .user-f2s {
        display: inline;
        font-size: 20px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 0px;
        padding-right: 9px;
    }
    .section-f3s {
        position: relative;
        padding: 10px 0 20px 0;
    }
    .user-f2 {
        display: inline;
        font-size: 20px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 15px;
    }
    .user-f1 {
        display: inline;
        position: absolute;
        top: 11px;
        font-size: 17px;
        /* padding-right: 18px; */
    }
    .receipt {
        font-size: 60px !important;
        /* padding-left: 10px; */
        padding-right: 0px!important;
        color: #2e9658!important;
    }
    .wallet {
        font-size: 57px !important;
        /* padding-left: 10px; */
        padding-right: 0!important;
        color: #2e5bff!important;
    }
    .border {
        height: 368px;
        width: 95.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .thumbnail {
        padding: 5px;
    }
    .f1 {
        color: #251e54;
        font-size: 12px;
        padding: 0 10px 5px 10px;
        margin: 0;
    }
    .loclitons {
        padding: 0
    }
    .loc-s {
        font-size: 12px;
    }
    .sptop {
        position: relative;
        top: 0px;
    }
    .left-sied a {
        font-size: 14px;
        color: white;
        font-family: "Bahij";
    }
    .nav-aamer-li {
        display: inline-flex;
        direction: rtl;
        padding: 11px 20px 5px 20px;
        color: white;
        font-size: 10px;
        width: 65%;
    }
    .left-sied {
        font-size: 17px;
        color: white;
        padding: 27px 0 5px 0;
        /* text-align: right; */
        /* direction: rtl; */
        font-family: "Bahij";
    }
    .border {
        /* height: 368px; */
        height: auto;
        width: 95.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .border-h {
        height: 867px;
        width: 95.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .locliton {
        text-align: right;
        border-bottom: 1px solid #b5b3bf;
        font-size: 18px;
        padding-top: 8px;
        cursor: pointer;
        height: 84px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .m-r-0 {
        margin: 0
    }
    .nav-aamer {
        height: 145px;
        width: 100%;
        background-color: #251e54;
    }
    .amaerf2 {
        font-size: 23px;
        color: white;
        padding: 25px 0 5px 0;
        text-align: right;
        font-family: "Bahij";
    }
    .logo-f {
        width: 100%;
        margin-top: 26px;
        padding: 1px 0px 6px 0;
    }
    .nav-aamer-p2 {
        width: 100%;
        height: auto;
        background-color: #393777;
        text-align: center;
    }
    .dropdown-menu>li>a {
        color: #251e54;
        padding: 0;
        margin: 10px 0;
        font-size: 12px;
    }
    .open>.dropdown-menusa {
        display: block;
        display: contents;
    }
    .dropdown-menusa>li>a {
        color: #ffffff;
        padding: 0;
        margin: 10px 0;
        font-size: 12px;
    }
    .dropdown-backdrop {
        display: none
    }
    li {
        list-style-type: none;
        margin: 6px;
        text-align: center;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .nav-aamer-li>li {
        padding: 8px 8px;
        color: white;
    }
    .border {
        height: auto;
        width: 91.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    .nav-aamer-li {
        display: inline-block;
        direction: rtl;
        padding: 5px 20px 5px 20px;
        color: white;
        font-size: 16px;
    }
    .f1 {
        color: #251e54;
        font-size: 13px;
        padding: 0 10px 5px 10px;
        margin: 0;
    }
    .section-f1s {
        background-color: #393777;
        height: 172px;
        margin: 25px 20px 0 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
        direction: rtl;
        padding: 0px 40px 0px 15px;
        font-size: 17px;
        /* text-align: right; */
    }
    .locliton {
        text-align: right;
        border-bottom: 1px solid #b5b3bf;
        font-size: 18px;
        padding-top: 15px;
        height: 114px;
        cursor: pointer;
    }
    .footer-aamer {
        height: 79px;
        background: #efefef;
        float: left;
        width: 100%;
    }
    .left-sied a {
        font-size: 14px;
        color: white;
        font-family: "Bahij";
    }
    .section-f2 {
        direction: rtl;
        padding: 60px 17px 0 0;
    }
    .user-f2 {
        display: inline;
        font-size: 22px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 15px;
    }
    .user-f1 {
        display: inline;
        position: absolute;
        top: 15px;
        font-size: 18px;
        /* padding-right: 18px; */
    }
    .fonts-infooter {
        display: inline-block;
        padding: 10px;
        font-size: 13px;
        margin: 0;
    }
    .sptop {
        position: relative;
        top: 0px;
    }
    .person {
        width: 13px;
        margin-left: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
        top: -2px;
    }
    .map-amaer-s1 {
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .map-amaer-s1 {
        height: auto;
    }
    .open>.dropdown-menusa {
        display: block;
        display: contents;
    }
    .dropdown-menusa>li>a {
        color: #ffffff;
        padding: 0;
        margin: 10px 0;
        font-size: 9px;
    }
    .person {
        width: 13px;
        margin-left: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
        top: -2px;
    }
    /* Styles */
    .sptop {
        position: relative;
        top: 0px;
    }
    .amaerf2 {
        font-size: 17px;
        color: white;
        padding: 25px 0 5px 0;
        text-align: right;
        font-family: "Bahij";
    }
    .p-l-30r {
        padding-left: 20px;
        padding-right: 0;
    }
    .user-f2 {
        display: inline;
        font-size: 17px;
        /* padding-left: 21px; */
        /* padding-right: 17px; */
        position: relative;
        bottom: 15px;
    }
    .user-f2 span {
        font-size: 18px;
        color: #302e65;
        padding: 5px;
    }
    .wallet {
        font-size: 61px !important;
        /* padding-left: 10px; */
        padding-right: 15px!important;
        color: #2e5bff!important;
    }
    .section-f1s {
        background-color: #393777;
        height: 227px;
        margin: 25px 20px 0 20px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: white;
        direction: rtl;
        padding: 0px 40px 0px 15px;
        font-size: 17px;
        /* text-align: right; */
    }
    .fonts-infooter {
        display: inline-block;
        padding: 10px;
        font-size: 11px;
        margin: 0;
    }
    .border {
        height: auto;
        width: 89.9%;
        border: 2px solid #ffff;
        margin: 0px 0 20px 20px;
        border-top: none;
        box-shadow: 2px 4px 5px 2px #ccc;
    }
    #myChart {
        height: 200px!important;
    }
    .user {
        font-size: 63px;
        color: #302e65;
    }
}

.badge-secondary {
    border-radius: 50%;
    font-family: "Bahij";
}

.container-map {
    text-align: right;
    font-family: "Bahij";
}

.container-map .p-title-1 {
    font-size: 20px;
    margin: 0;
    font-family: "Bahij";
    color: rgba(57, 55, 119, 1)
}

.container-map .p-title-2 {
    font-size: 20px;
    color: rgba(57, 55, 119, 1);
    margin: 0;
    font-family: "Bahij";
}

.gm-style-iw {
    padding: 15px 20px !important;
    width: 450px;
    font-family: "Bahij";
}

.container-map .title-Abou-El-Ghaly {
    font-size: 20px;
    color: rgba(37, 30, 84, 1);
    line-height: 27px;
    font-family: "Bahij";
}

.gm-style-iw-d {
    overflow: initial !important;
    font-family: "Bahij";
}

.Waste {
    margin-top: 25px;
    font-family: "Bahij";
}

.Waste span {
    position: relative;
    top: -5px;
    font-size: 14px;
    background-color: rgba(57, 55, 119, 1)
}

.list-Waste {
    font-size: 16px;
    font-size: 19px;
    font-family: "Bahij";
}

.list-2 {
    padding: 0;
    font-family: "Bahij";
}

.list-1 {
    padding-left: 0 !important;
    color: rgba(109, 114, 120, 1);
    font-family: "Bahij";
}

.Show-more-mark-map {
    margin-top: 10px
}

.Show-more-mark-map,
.Show-more-mark-map:hover,
.Show-more-mark-map:active {
    background-color: rgba(37, 30, 84, 1);
    color: white;
    font-family: "Bahij";
}

.Show-more-mark-map {
    font-size: 22px;
    padding: 8px 20px;
    font-family: "Bahij";
}

.btn-wa {
    background: #251e54;
    color: white;
}

.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px!important;
    font-size: 31px;
}

.sc {
    padding-left: 10px;
}

.sx {
    padding-left: 8px;
    /* margin-top: 7px; */
    position: relative;
    top: 5px;
}

.sf {
    padding-left: 8px;
    /* margin-top: 7px; */
    position: relative;
    top: 5px;
}

.titea {
    text-decoration: underline;
    font-size: 17px;
    margin: 10px;
}